body{
    width:100%;
    text-align: center;
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvr9OVQgNGP7-DLiyNBXztVpkbZRnz6Lp27jE5gcX4SwUKHfXPvg);
    }
h1{
    margin-top:100px;
    font-size:36px;
    }
img{
    margin-top:50px;
    width:300px;
    height:250px;
    }
#s4{
    margin-top:30px;
    width:200px;
    height:350px;
    }
button{
    width:100px;
    height:60px;
    }
p{
    font-size:35px;
    }
#s2b{
    font-size:16px;
    color:lightblue;
    margin-top:120px;
    float:right;
    margin-right:10px;
    width:75px;
    }